<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        display: flex;
        align-items: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
    }

    .toolbar img {
        margin: 0 16px;
    }


    .content {
        display: flex;
        margin: 102px auto 32px;
        padding: 0 16px;
        flex-direction: column;
        align-items: center;
    }


    .card svg.material-icons path {
        fill: #888;
    }


    .card {
        all: unset;
        border-radius: 4px;
        border: 1px solid #eee;
        background-color: #fafafa;
        height: 40px;
        width: 200px;
        margin: 0 8px 16px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
    }

    .card-container .card:not(:last-child) {
        margin-right: 0;
    }

    .card.card-small {
        height: 16px;
        width: 168px;
    }

    .card-container .card:not(.highlight-card) {
        cursor: pointer;
    }

    .card-container .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    }

    .card-container .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
    }

    .card.highlight-card {
        background-color: #1976d2;
        color: white;
        font-weight: 600;
        border: none;
        width: auto;
        min-width: 30%;
        position: relative;
    }


    a,
    a:visited,
    a:hover {
        color: #1976d2;
        text-decoration: none;
    }

    a:hover {
        color: #125699;
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    /* Responsive Styles */
    @media screen and (max-width: 767px) {

        .card:not(.highlight-card) {
            height: 16px;
            margin: 8px 0;
        }

        .card.highlight-card span {
            margin-left: 72px;
        }

    }

</style>
<style>
    .wallet-address {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        outline: 2px solid dodgerblue;
        border-radius: 30px;
        padding: 10px 30px;
        margin: 20px 0 0 0;
    }

    .wallet-address button {
        font-size: 17px;
        border-radius: 20px;
        padding: 0 24px;
        margin: 0 12px;
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .login {
        display: flex;
        gap: 10px;
    }

    .login.main {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .login.main > .description > * {
        margin: 0;
    }

    .bc-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        gap: 4px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .bc {
        font-size: 20px;
        border-radius: 20px;
        border: 2px solid dodgerblue;
        padding: 0 24px;
        width: 250px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        background: white;
        color: dodgerblue;
        -webkit-transition: background-color 0.8s ease;
        transition: background-color 0.8s ease;
    }

    .bc.chosen {
        background: dodgerblue;
        color: white;
    }

    .actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 20px;
        gap: 20px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .action {
        font-size: 20px;
        min-width: 250px;
        border-radius: 30px;
        outline: 0;
        padding: 20px;
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .transactions {
        font-size: 15px;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 40px;
        padding: 20px;
        gap: 20px;
        outline: 2px solid black;
        border-radius: 20px;
        width: 80vw;
    }

    .transactions .bc-name {
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .transactions .field_name {
        border: 1px solid;
        padding: 5px;
    }

    .transactions .field_value {
        border: 1px solid;
    }

    .logout {
        font-size: 17px;
        min-width: 250px;
        border-radius: 30px;
        border-color: red;
        outline: 0;
        margin-top: 40px;
        padding: 10px 20px;
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
    }

    .cover {
        font-size: 50px;
        margin-top: 10%;
    }
</style>
<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img ngSrc="https://console.paytweed.com/assets/web-assets/tweed-rounded-white-logo.svg" width="40" height="40"
         alt="tweed logo" class="css-761oxb">

    <span>Welcome</span>
    <div class="spacer"></div>
    <div class="login main">
        <div class="description"><h5>Only For Testing purpose</h5>
            <p>enter different email &amp; user id to create new wallets</p></div>
        <div class="login">
            <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
                <input type="email" placeholder="email" id="email" formControlName="email">
                <input placeholder="user id" id="user_id" formControlName="user_id">
                <button title="login to an exists wallet or create a new wallet if not exists">login</button>
            </form>

        </div>
    </div>
    <div class="spacer"></div>
    <div style="width: 138px;height: 100%;"></div>
</div>

<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
        <span>Welcome to {{ title }}</span>
    </div>
    <ng-container *ngIf="this.loading_message === ''">

        <!-- Resources -->
        <h2>Address</h2>
        <div class="wallet-address">{{this.address}}
            <button (click)="showQr()">show QR</button>
        </div>
        <!-- Next Steps -->
        <ng-container *ngIf="this.blockchains.length!==0">
            <h2>Blockchains</h2>
            <p>choosing blockchain would rerender status</p>


            <div class="bc-container">
                <button *ngFor="let blockchain of blockchains" class="bc"
                        [ngClass]="blockchain===this.selected_bc ? 'chosen' : ''"
                        (click)="this.onBcSelected(blockchain)"
                        tabindex="0">
                    <span>{{ blockchain }}</span>
                </button>
            </div>

            <div class="actions">
                <button class="action" (click)="this.sendTransaction()">Send Transaction</button>
                <button class="action" (click)="this.createRecoveryKit()">Create a Recovery Kit</button>
                <button class="action" (click)="this.buyNft()">Buy Nft</button>
            </div>

            <table class="transactions">
                <thead>
                <tr>
                    <th><h1 class="bc-name">{{this.selected_bc}}</h1></th>
                </tr>
                <tr *ngIf="this.filedNames().length === 0">
                    <th>
                        - no transactions -
                    </th>
                </tr>
                <tr>
                    <th class="field_name" *ngFor="let fn of this.filedNames()">{{fn}}</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tran of this.transactions">
                    <td class="field_value" *ngFor="let fv of this.fieldValues(tran)">{{fv}}</td>
                </tr>
                </tbody>
            </table>
            <button class="logout" (click)="logout()">Logout</button>

        </ng-container>
    </ng-container>
    <div class="cover" *ngIf="this.loading_message !== ''">
        {{this.loading_message}}
    </div>
    <div class="cover" *ngIf="false">
        Loading
    </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
